# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# Secrets
**/secrets.yaml
**/secret.yaml
*-secret.yaml

# Backups
backups/
*.sql
*.tar.gz

# OS
.DS_Store
*.swp
*.swo

# IDE
.idea/
.vscode/
terraform.tfvars
