apiVersion: v1
kind: Service
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"v1","kind":"Service","metadata":{"annotations":{},"name":"code-server","namespace":"code-server"},"spec":{"ports":[{"port":80,"targetPort":8080}],"selector":{"app":"code-server"}}}
  name: code-server
  namespace: code-server
spec:
  clusterIP: 10.99.102.80
  clusterIPs:
  - 10.99.102.80
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - port: 80
    protocol: TCP
    targetPort: 8080
  selector:
    app: code-server
  sessionAffinity: None
  type: ClusterIP
