apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  namespace: cloudflared
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      containers:
      - name: cloudflared
        image: cloudflare/cloudflared:latest
        args:
        - tunnel
        - --no-autoupdate
        - run
        - --token
        - eyJhIjoiYjQ2NzIzNDJiMjY5Y2U0OGM2NmRhZWE3NzdjZjhkZTkiLCJ0IjoiZjVkZTZjOTEtYjBkMi00NTUzLWJlMTEtZTQ4MDFjMjY4MDljIiwicyI6Ill6QXlNekEyWkRndFpUSXpNeTAwWkRFMkxUZzRabVl0WVRobE1EY3dZelk1TjJJdyJ9
